In [347]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [348]:
data = pd.read_csv('fitness_class_2212.csv')

In [349]:
X = data.iloc[:,:-1] # Target
y = data.iloc[:,-1] # Feature

In [350]:


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# 70% data untuk pelatihan
print("Jumlah data pelatihan:", len(X_train))

# 30% data untuk pengujian
print("Jumlah data pengujian:", len(X_test))

Jumlah data pelatihan: 1106
Jumlah data pengujian: 474

In [351]:
from sklearn.preprocessing import MinMaxScaler


data_copy_min_max_scaler = data.copy()  # Salin dataset terlebih dahulu

# Pilih atribut yang ingin dinormalisasi 
attribute_to_normalize = 'weight'

# Inisialisasi Min-Max Scaler
scaler = MinMaxScaler()

# Ubah nilai atribut yang dipilih ke dalam bentuk matriks kolom dan lakukan normalisasi
data_copy_min_max_scaler[[attribute_to_normalize]] = scaler.fit_transform(data_copy_min_max_scaler[[attribute_to_normalize]])

# Tampilkan dataset setelah normalisasi
print(data_copy_min_max_scaler)

      booking_id  months_as_member    weight days_before day_of_week time  \
0              1              17.0  0.209799           8         Wed   PM
1              2              10.0  0.205021           2         Mon   AM
2              3              16.0  0.166102          14         Sun   AM
3              4               5.0  0.266788          10         Fri   AM
4              5              15.0  0.120580           8         Thu   AM
...          ...               ...       ...         ...         ...  ...
1575          39              27.0  0.203284          10         Fri   AM
1576          39              27.0  0.203284          10         Fri   AM
1577          39              27.0  0.203284          10         Fri   AM
1578          39              27.0  0.203284          10         Fri   AM
1579          39              27.0  0.203284          10         Fri   AM

      category  attended
0     Strength         0
1         HIIT         0
2     Strength         0
3      Cycling         0
4         HIIT         0
...        ...       ...
1575      HIIT         1
1576      HIIT         1
1577      HIIT         1
1578      HIIT         1
1579      HIIT         1

[1580 rows x 8 columns]

In [352]:
from sklearn.preprocessing import StandardScaler

# Misalnya 'data' adalah DataFrame Anda
data_copy_standard = data.copy()  # Salin dataset terlebih dahulu

# Inisialisasi Standard Scaler
scaler = StandardScaler()

# Pilih atribut yang ingin di-standarisasi 
attribute_to_standardize = 'attended'

# Standarisasi atribut yang dipilih
data_copy_standard[[attribute_to_standardize]] = scaler.fit_transform(data_copy_standard[[attribute_to_standardize]])

# Tampilkan dataset setelah standarisasi
print(data_copy_standard)

      booking_id  months_as_member  weight days_before day_of_week time  \
0              1              17.0   79.56           8         Wed   PM
1              2              10.0   79.01           2         Mon   AM
2              3              16.0   74.53          14         Sun   AM
3              4               5.0   86.12          10         Fri   AM
4              5              15.0   69.29           8         Thu   AM
...          ...               ...     ...         ...         ...  ...
1575          39              27.0   78.81          10         Fri   AM
1576          39              27.0   78.81          10         Fri   AM
1577          39              27.0   78.81          10         Fri   AM
1578          39              27.0   78.81          10         Fri   AM
1579          39              27.0   78.81          10         Fri   AM

      category  attended
0     Strength -0.714504
1         HIIT -0.714504
2     Strength -0.714504
3      Cycling -0.714504
4         HIIT -0.714504
...        ...       ...
1575      HIIT  1.399572
1576      HIIT  1.399572
1577      HIIT  1.399572
1578      HIIT  1.399572
1579      HIIT  1.399572

[1580 rows x 8 columns]

In [353]:
#diluar modul menghapus nilai non numeric
print("Nilai unik dalam kolom 'days_before':")
print(data['days_before'].unique())
# Mengubah nilai non-numeric dalam kolom 'days_before' menjadi NaN
data['days_before'] = pd.to_numeric(data['days_before'], errors='coerce')

Nilai unik dalam kolom 'days_before':
['8' '2' '14' '10' '6' '4' '9' '12' '5' '3' '7' '13' '12 days' '20' '1'
 '15' '6 days' '11' '13 days' '3 days' '16' '1 days' '7 days' '8 days'
 '10 days' '14 days' '17' '5 days' '2 days' '4 days' '29']

In [354]:
print("Nilai unik dalam kolom 'days_before':")
print(data['days_before'].unique())

Nilai unik dalam kolom 'days_before':
[ 8.  2. 14. 10.  6.  4.  9. 12.  5.  3.  7. 13. nan 20.  1. 15. 11. 16.
 17. 29.]

In [355]:
print("Nilai unik dalam kolom 'days_before':")
print(data['day_of_week'].unique())
# Mengganti nilai 'Wednesday' menjadi 'Wed' dalam kolom 'day_of_week'
data['day_of_week'] = data['day_of_week'].replace('Wednesday', 'Wed')
data['day_of_week'] = data['day_of_week'].replace('Monday', 'Mon')

Nilai unik dalam kolom 'days_before':
['Wed' 'Mon' 'Sun' 'Fri' 'Thu' 'Wednesday' 'Fri.' 'Tue' 'Sat' 'Monday']

In [356]:
print("Nilai unik dalam kolom 'days_before':")
print(data['day_of_week'].unique())

Nilai unik dalam kolom 'days_before':
['Wed' 'Mon' 'Sun' 'Fri' 'Thu' 'Fri.' 'Tue' 'Sat']

In [357]:
print("Jumlah Record Yang memiliki nilai null: ")
print(data.isnull().sum())

Jumlah Record Yang memiliki nilai null:
booking_id           0
months_as_member     6
weight              20
days_before         25
day_of_week          0
time                 0
category             4
attended             0
dtype: int64

In [358]:


# Menentukan strategi untuk mengisi nilai null
strategies = {
    'months_as_member': data['months_as_member'].median(),
    'weight': data['weight'].mean(),
    'days_before': data['days_before'].mean(),
    'category': data['category'].mode()[0]
}

# Mengisi nilai null sesuai dengan strategi
data_cleaned = data.fillna(value=strategies)

# Cetak dataset setelah data cleaning
print("\nDataset setelah data cleaning:")

print("Jumlah Record Yang memiliki nilai null: ")
print(data_cleaned.isnull().sum())

Dataset setelah data cleaning:
Jumlah Record Yang memiliki nilai null:
booking_id          0
months_as_member    0
weight              0
days_before         0
day_of_week         0
time                0
category            0
attended            0
dtype: int64

In [359]:
print("Data yang memiliki nilai duplikat")
data.duplicated().sum()

Data yang memiliki nilai duplikat

80

In [360]:
data_cleaned.drop_duplicates(inplace=True)
data_cleaned.duplicated().sum()
print("\nSetelah menggunakan fungsi drop_duplicates()")
print("Jumlah nilai Duplikat:", data_cleaned.duplicated().sum())

Setelah menggunakan fungsi drop_duplicates()
Jumlah nilai Duplikat: 0

In [361]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1580 entries, 0 to 1579
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   booking_id        1580 non-null   int64
 1   months_as_member  1574 non-null   float64
 2   weight            1560 non-null   float64
 3   days_before       1555 non-null   float64
 4   day_of_week       1580 non-null   object
 5   time              1580 non-null   object
 6   category          1576 non-null   object
 7   attended          1580 non-null   int64
dtypes: float64(3), int64(2), object(3)
memory usage: 98.9+ KB

In [362]:

data_cleaned['months_as_member'] = data_cleaned['months_as_member'].astype(int)
data_cleaned['days_before'] = data_cleaned['days_before'].astype(int)

In [363]:
data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1500 entries, 0 to 1574
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   booking_id        1500 non-null   int64
 1   months_as_member  1500 non-null   int32
 2   weight            1500 non-null   float64
 3   days_before       1500 non-null   int32
 4   day_of_week       1500 non-null   object
 5   time              1500 non-null   object
 6   category          1500 non-null   object
 7   attended          1500 non-null   int64
dtypes: float64(1), int32(2), int64(2), object(3)
memory usage: 93.8+ KB

In [364]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder


# Menggunakan OneHotEncoder
encoder = OneHotEncoder(sparse=False)  # 'sparse=False' menghasilkan array NumPy, 'drop='first'' menghasilkan kategori biner

# Melakukan One-Hot Encoding pada kolom 'time'
encoded_data = encoder.fit_transform(data_cleaned[['time']])

# Membuat DataFrame baru dengan hasil encoding
encoded_df = pd.DataFrame(encoded_data, columns= encoder.get_feature_names_out(['time']))

# Menggabungkan hasil encoding dengan dataset asli
data_encoded = pd.concat([data_cleaned, encoded_df], axis=1)

# Menampilkan hasil
data_encoded.head(20)

c:\Users\ACER\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,booking_id,months_as_member,weight,days_before,day_of_week,time,category,attended,time_AM,time_PM
0,1.0,17.0,79.56,8.0,Wed,PM,Strength,0.0,0.0,1.0
1,2.0,10.0,79.01,2.0,Mon,AM,HIIT,0.0,1.0,0.0
2,3.0,16.0,74.53,14.0,Sun,AM,Strength,0.0,1.0,0.0
3,4.0,5.0,86.12,10.0,Fri,AM,Cycling,0.0,1.0,0.0
4,5.0,15.0,69.29,8.0,Thu,AM,HIIT,0.0,1.0,0.0
5,6.0,7.0,93.33,2.0,Mon,AM,Cycling,0.0,1.0,0.0
6,7.0,11.0,88.59,6.0,Wed,PM,HIIT,0.0,0.0,1.0
7,8.0,9.0,89.52,10.0,Fri,AM,HIIT,0.0,1.0,0.0
8,9.0,23.0,71.12,10.0,Fri.,AM,HIIT,1.0,1.0,0.0
9,10.0,7.0,81.25,10.0,Fri,AM,HIIT,0.0,1.0,0.0
10,11.0,13.0,73.22,4.0,Tue,AM,Cycling,0.0,1.0,0.0
11,12.0,16.0,86.86,10.0,Fri,AM,Cycling,0.0,1.0,0.0
12,13.0,16.0,71.70,14.0,Sun,AM,Strength,1.0,1.0,0.0
13,14.0,8.0,81.32,4.0,Tue,AM,Cycling,0.0,1.0,0.0
14,15.0,9.0,77.35,10.0,Fri,AM,Cycling,0.0,1.0,0.0
15,16.0,9.0,82.42,14.0,Sun,AM,HIIT,1.0,1.0,0.0
16,17.0,22.0,69.52,14.0,Sun,AM,Strength,1.0,1.0,0.0
17,18.0,6.0,79.01,9.0,Thu,PM,Yoga,0.0,0.0,1.0
18,19.0,33.0,81.55,8.0,Thu,AM,Cycling,1.0,1.0,0.0
19,20.0,10.0,72.93,4.0,Tue,AM,Cycling,1.0,1.0,0.0